@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Playfair+Display:wght@400;500&display=swap");

:root {
  /* import font and color of the webpage here using: */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.main_page{
  padding:16px;
 -moz-column-width: 18em;
 -webkit-column-width:13em;
}

.post_box{
 position: relative;
 padding: 0.25rem;
 width: 100%; 
}

.post_box:hover > .appear__text{
  display: block!important;
}

